form{
	background-color: lightblue;
	width: 15%;
    padding: 12px 20px;
    margin-top: 200px;
    margin-right: 200px;
    margin-bottom: 200px;
    margin-left: 500px;
    text-align: center;
}